@keyframes rotate-frames {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes opacity-frames {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.o-gradient-background__glow {
  --size: 50vh;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  border-radius: 50%;
  animation:
    rotate-frames var(--speed) var(--easing) alternate infinite,
    opacity-frames 10s var(--easing) alternate infinite;
}

.o-gradient-background__glow--cool {
  background-image: linear-gradient(hsl(250, 80%, 60%), hsla(160, 80%, 60%));
}

.o-gradient-background__glow--warm {
  background-image: linear-gradient(hsl(350, 80%, 60%), hsl(60, 80%, 60%));
  animation-delay: 5s;
}
