@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-main: 0 0% 15%;
  --color-primary: 0 0% 100%;
  --color-secondary: 0 0% 100%;
  --color-highlight: 45deg 100% 50%;
  --color-cool-positive: 160deg 80% 60%;
  --color-cool-negative: 250deg 80% 60%;
  --color-warm-positive: 60deg 80% 60%;
  --color-warm-negative: 350deg 80% 60%;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  padding: 0;
  width: 100%;
  text-align: center;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-main: 230deg 50% 90%;
    --color-primary: 0 0% 5%;
    --color-secondary: 0 0% 100%;
    --color-highlight: 160deg 100% 50%;
  }
}
